POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=rain_and_rides

# Create a Fernet key with
#docker run --rm apache/airflow:3.3.1 python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=paste_first_key_here 
# Create a JWT secret with
#docker run --rm apache/airflow:3.3.1 python -c "import secrets; print(secrets.token_urlsafe(32))"
AIRFLOW_JWT_SECRET=paste_second_key_here
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=choose_a_password